.actual {
    border-top: 2px solid black;
}

.table td {
    border-right: 1px solid black;
}

.table th {
    border-right: 1px solid black;
}

.operating-hours input {
    width: 40px;
}

.store-stats input {
    width: 80px;
}

.empstats-sub-heading td {
    font-size: 10px;
}

.emp-stats input {
    width: 50px;
}
