.actual {
    border-top: 2px solid black;
}

.table td {
    border-right: 1px solid black;
}

.table th {
    border-right: 1px solid black;
}

.operating-hours input {
    border: 2px solid red;
    width: 40px;
}

.store-stats input {
    border: 2px solid red;
    width: 80px;
}

.empstats-sub-heading td {
    font-size: 10px;
}

.emp-stats input {
    border: 2px solid red;
    width: 50px;
}

.total-hours {
    float: right;
}

.total-hours-num {
    border: 1px solid black;
    padding: 5px;
}

.stretch-percent,.stretch  { 
    height: 25px;
}

.operating-hours .sales-actual {
    border: 2px solid orange;
    width: 70px;
}