.navbar-brand.mb-0 {
    margin: auto;
    color: black;
    font-size: 30px;
}
.actual {
    border-top: 2px solid black;
}

.table td {
    border-right: 1px solid black;
}

.table th {
    border-right: 1px solid black;
}

.operating-hours input {
    border: 2px solid red;
    width: 40px;
}

.store-stats input {
    border: 2px solid red;
    width: 80px;
}

.store-stats .budget-atv {
    border: 1px solid black;
}

.empstats-sub-heading td {
    font-size: 10px;
}

.emp-stats input {
    border: 2px solid red;
    width: 70px;
}

.emp-stats input[class="work-hours"] {
    width: 50px;
}

.calculate {
    float: right;
    margin-bottom: 40px;
}

.hours {
    margin-bottom: 25px;
}

.fa-plus {
    font-size: 20px;
    color: blue;
    cursor: pointer;
}

.fa-minus {
    font-size: 20px;
    color: grey;
    cursor: pointer;
}

.total-hours-num {
    border: 1px solid black;
    padding: 5px;
}

.stretch-percent,.stretch  { 
    height: 25px;
}

.operating-hours .sales-actual {
    border: 2px solid orange;
    width: 70px;
}

.emp-stats input[class*="emp-target-"] {
    border: 1px solid black;
}
.emp-stats input[class*="emp-actual-"] {
    border: 2px solid orange;
}

